
<div class="container">
   
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'assests/validation',obj: @assest%>
            <%= form_with(model: @assest, class:"shadow p-3 mb-3 bg-secondary rounded", data: {turbo:false})  do |f| %>
              
              <div class="form-group m-2 row">
                <%= f.label :assest_name,class:"col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :assest_name,class: "form-control shadow rounded",placeholder:"Enter asset name" %>
                </div>
              </div>
            
              <div class="form-group m-2 row">
                <%= f.label :serial_no,class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :serial_no,class: "form-control shadow rounded",placeholder:"Enter serial number" %>
                </div> 
              </div>

              <div class="form-group m-2 row">
                <%= f.label :category,class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :category,class: "form-control shadow rounded",placeholder:"Enter category" %>
                </div> 
              </div>

              <div class="form-group m-2 row">
                <%= f.label :aesset_ammount,class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :aesset_ammount,class: "form-control shadow rounded",placeholder:"Enter asset amount" %>
                </div> 
              </div>

              <div class="form-group m-2 row">
                <%= f.label :department,class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :department,class: "form-control shadow rounded",placeholder:"Enter department" %>
                </div> 
              </div>

              <div class="form-group m-2 row">
                <%= f.label :description,class: "col-2 col-form-label text-light" %>
                <div class="col-10">
                <%= f.text_field :description,class: "form-control shadow rounded",placeholder:"Enter description" %>
                </div> 
              </div>
            
              <div class="form-group m-2 text-center">
                  <%= f.submit %>
              </div>
            
            <% end %>
        </div>
    </div>
</div>




