<h1>Assests Details</h1>

<h4>Login User : <%= @assest.user.username if @assest.user %></h4>
<p><strong>Asset Name: </strong><%= @assest.assest_name%></p>
<p><strong>Serial number: </strong><%= @assest.serial_no%></p>
<p><strong>Asset Category: </strong><%= @assest.category%></p>
<p><strong>Asset Ammount: </strong><%= @assest.aesset_ammount%></p>
<p><strong>Asset Department: </strong><%= @assest.department%></p>
<p><strong>Asset Description: </strong><%= @assest.description%></p>

<%= link_to 'Return to assets listing' , assests_path%>






