<h1>Assests Details</h1>


<p><strong>Assest Name: </strong><%= @assest.assest_name%></p>
<p><strong>Serial number: </strong><%= @assest.serial_no%></p>
<p><strong>Assest Category: </strong><%= @assest.category%></p>
<p><strong>Assest Ammount: </strong><%= @assest.aesset_ammount%></p>
<p><strong>Assest Department: </strong><%= @assest.department%></p>
<p><strong>Assest Description: </strong><%= @assest.description%></p>

<%= link_to 'Return to assests listing' , assests_path%>






